<div class="container mt-7">
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  <div class="profile-page tx-13">
    <div class="row profile-body">
      <!-- left wrapper start -->
      <%= render "shared/profile" %>
      <!-- left wrapper end -->
      <!-- middle wrapper start -->
      <%= render "homepage_content" %>
      <!-- middle wrapper end -->
      <!-- right wrapper start -->
      <%= render "shared/more_info" %>
      <!-- right wrapper end -->
    </div>
  </div>
</div>
