<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <%= link_to root_path, class: "navbar-brand" do %>
      <i class="fas fa-home fa-lg fa-2x"></i>
      <b>Funny Movies</b>
    <% end %>

    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left links -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to root_path, class: "nav-link #{controller_name == 'static_pages' ? 'active' : ''} d-flex flex-column text-center" do %>
            <i class="fas fa-home fa-lg"></i><span>Home</span>
          <% end %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to users_path, class: "nav-link #{controller_name == 'users' ? 'active' : ''} d-flex flex-column text-center" do %>
              <i class="fas fa-users fa-lg"></i><span>Users</span>
            <% end %>
          </li>
          <li class="nav-item dropdown">
            <%= link_to shares_path, class: "nav-link #{controller_name == 'shares' ? 'active' : ''} d-flex flex-column text-center" do %>
              <i class="fas fa-share-alt-square fa-lg"></i><span>Share</span>
            <% end %>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle d-flex align-items-center"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <%= gravatar_for current_user, size: 150 %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li>
                <%= link_to "My profile", current_user, class: "dropdown-item" %>
              </li>
              <li>
                <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item"  %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to new_user_session_path, class: "nav-link d-flex flex-column text-center #{controller_name == 'sessions' ? 'active' : ''}" do %>
              <i class="fas fa-sign-in-alt fa-lg"></i>
              <span>Login</span>
            <% end %>
          </li>
        <% end %>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
